<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Servicios - SACPE</title>
</head>

<body th:with="pageTitle='Servicios', pageSubtitle='Listado de servicios.'">

    <th:block layout:fragment="breadcrumb-items">
    <li class="breadcrumb-item active" aria-current="page">Servicios</li>
</th:block>

    <div layout:fragment="main-content-body">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">¡Bienvenido!</h4>
            </div>
            <div class="card-body">
                <p>Este es el contenido de la página principal, donde puedes poner gráficos y datos.</p>
            </div>
        </div>
        <div class="card">
             <div class="card-header">
                <h4 class="card-title">Actividad Reciente</h4>
            </div>
            <div class="card-body">
                <p>Aquí podría ir una tabla o lista de actividades.</p>
            </div>
        </div>
    </div>

</body>
</html>